<!DOCTYPE html>
<html lang="ru">
<div id="header">
    {% block header %}
        {% include 'views/header.html.twig' %}
    {% endblock %}
</div>

{% block body %}{% endblock %}

<div id="footer">
    {% block footer %}
        {% include('views/footer.html.twig') %}
    {% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('assets/plg/jQuery/jquery-3.5.0.slim.min.js') }}"></script>
    <script src="{{ asset('assets/plg/form/jquery.form.js') }}"></script>
    <script src="{{ asset('assets/plg/form/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('assets/plg/range/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ asset('assets/plg/Slider/slick.min.js') }}"></script>
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
{% endblock %}
</html>
